/**
 * Copyright (c) 2021 Gabriel Hoban
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* body {
    background: url("background.svg") no-repeat center center fixed;
    background-size: cover;
  } */
#container {
  padding-top: 25px;
  width: 700px;
  margin: 0 auto;
}
.chat-input {
  width: 300px;
  height: 35px;
  border: solid 1px #444;
}
.chat-submit {
  width: 50px;
  height: 35px;
  border: solid 1px #444;
}
.chat-window {
  height: 300px;
  width: 400px;
}
#chatSection {
  float: left;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}
